html {
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: $link-color;

    &:visited {
        color: $link-hover-color;
    }

    &:hover {
        color: lighten($link-color, 40%);
    }

}

.logo a {
    color: $white;
}

h1 {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
}

hr{
    border: none;
    border-bottom: 1px solid #ddd;
}

.page-content{
    margin-top: 10px;

    @include sm{
        margin-top: 0;
    }
}
