.section-title{
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
}

.categories-section {
    padding: 50px 0;

    .categories {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 60px $gutter;
    }
}


.featured-section {
    padding: 50px 0;
}

.banner-section{
    .banner-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px $gutter*2;
    }

    a{
        display: block;

        &.wide-banner{
            margin-top: 60px;
        }

        img{
            width: 100%;
        }
    }
}

.brand-section{
    .brand-section{
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-gap: 0px $gutter*2;
    }
}

.blog-section {
    background: $light-gray-background;
    border-top: 1px solid $separator-color;
    padding: 50px 0;
    grid-area: blog-section;

    .blog-posts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: $gutter;
        margin: 60px 0 60px;
        grid-template-areas:
        "blog1 blog2 blog3";

        #blog1 {
            grid-area: blog1;
        }

        #blog2 {
            grid-area: blog2;
        }

        #blog3 {
            grid-area: blog3;
        }
    }

}
