.landing-page{
    .container{
        max-width: 1600px;
    }
}

.section-title{
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;

    @include sm{
        font-size: 20px;
        text-align: center;
    }
}


.promo-information {
    background-color: $bottom-nav-bg;
    color: $white;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 10px;
    margin-top: -10px;

    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    transition: all 300ms;

    a {
        color: $white;
        text-decoration: underline;
        font-size: 11px;
        line-height: 20px;
        cursor: pointer;
    }

    @include sm{
        font-size: 12px;
    }
}
.categories-section {
    padding: 50px 0;

    @include sm{
        padding: 20px 0;
    }

    .categories {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 60px $gutter;

        .category-name{
            font-weight: 500;
            color: #555;
            font-size: 18px;
        }

        @include sm{
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px $gutter;
        }
    }
}

.featured-section {
    padding: 50px 0;
}

.banner-section{
    .banner-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px $gutter*2;

        @include sm{
            grid-template-columns: 1fr;
            grid-gap: 5px;
        }
    }

    a{
        display: block;

        &.wide-banner{
            margin-top: 60px;
        }

        img{
            width: 100%;
        }
    }
}

.brand-section{
    margin: 40px 0;

    .brand-grid{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 0px;

        @include sm{
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 5px;
        }
    }

    .brand-banner{
        display: block;
        margin-top: 20px;

        img{
            width: 100%;
        }
    }
}

.blog-section {
    background: $light-gray-background;
    border-top: 1px solid $separator-color;
    padding: 50px 0;
    grid-area: blog-section;

    .blog-posts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: $gutter;
        margin: 60px 0 60px;
        grid-template-areas:
        "blog1 blog2 blog3";

        #blog1 {
            grid-area: blog1;
        }

        #blog2 {
            grid-area: blog2;
        }

        #blog3 {
            grid-area: blog3;
        }
    }

}

.footer-section{
    text-align: center;
    @include  sm{
        text-align: left;
    }
}
