.product-section-title{
    color: #333;
    font-size: 30px;
    margin: 20px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    font-weight: 100;
}

.product-section {
    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-gap: 40px;
    padding: 100px 0 120px;

    @include sm{
        padding-bottom: 10px;
    }

    .selected {
        border: 1px solid #979797;
    }
}

.product-section-images {
    position: relative;
    padding-left: 80px;

    .product-vertical-slider{
        width: 65px;
        position: absolute;
        left: 0;

        padding-top: 20px;
        padding-bottom: 20px;

        .slick-next{
            top: auto;
            bottom: 0;
            left: 50%;
            margin-left: -10px;
        }
        .slick-prev{
            top: 0;
            bottom: auto;
            left: 50%;
            margin-left: -10px;
        }

        .slick-prev:before, .slick-next:before{
            color: rgb(8, 67, 156);
        }

        .slick-prev:before{
            content: '\f106' !important;
            font-family: 'Font Awesome 5 Free' !important;;
        }
        .slick-next:before{
            content: '\f107' !important;;
            font-family: 'Font Awesome 5 Free' !important;;
        }
    }
}

.product-section-thumbnail {
    display: flex;
    align-items: center;
    min-height: 66px;
    cursor: pointer;

    &:hover {
        border: 1px solid #979797;
    }
}

.product-section-image {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
        opacity: 0;
        transition: opacity .10s ease-in-out;
        max-height: 100%;
    }

    img.active {
        opacity: 1;
    }
}

.product-section-information {
    @include sm{
        padding: 10px;
    }
    p {
        margin-bottom: 16px;
    }


    .product-details {
        font-size: 20px;
        font-weight: bold;
        color: $text-color-light;
    }

    .product-price {
        font-size: 30px;
        color: $price_color;
        margin-bottom: 16px;
        font-weight: bold;
        display: inline-block;
        margin-left: 10px;
    }

    .product-regular-price{
        text-decoration: line-through;
        font-size: 15px;
    }

    .product-brand{
        margin-bottom: 0;
        a{
            color: #143d8d;
            display: block;
            margin-bottom: 0;
            font-size: 20px;
            text-transform: capitalize;
        }
    }

    .product-name{
        font-size: 26px;
        line-height: 26px;
        font-weight: 100;
        margin-bottom: 10px;
    }

    .quantity-input{
        width: 70px;

        @include sm{
            width: 100%;
        }
    }

    .button-cart{
        display: block;
        width: 100%;
        margin-top: 20px;
        line-height: 14px;
    }
}


.product-variants{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .product-variant{
        img{
            max-width: 100%;

            &:hover{
                border: 1px solid #ccc;
            }
        }

        input{
            display: none;

            &:checked + img{
                border: 2px solid #999;
            }
        }
    }
}

.cart-form{
    .form-group{
        display: grid;
        grid-template-columns: 120px 1fr;

        @include sm{
            grid-template-columns: 100%;
        }

        label{
            font-weight: bold;
            font-size: 12px;
            color: #333;

            @include sm{
                font-size: 14px;
                margin-bottom: 5px;
            }
        }
    }
}

.features-navigation-bar{
    display: flex;

    li{
        width: 100%;
    }
    a{
        display: block;
        border-radius: 0;
        border-right: 1px solid #ccc;
        text-decoration: underline;
        padding: 15px 15px;
        background-color: #eee;
        color: #0a50ba;
        font-weight: bold;
        font-size: 14px;
        height: 100%;

        &:hover{
            background: #08439c;
            color: #fff;
            text-decoration: none;

        }
    }
}


.product-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin-bottom: 40px;

    @include sm{
        grid-template-columns: 1fr;
    }

    h3{
        font-size: 30px;
        font-weight: 100;
        margin: 30px 0;
    }
}

.product-specifications{
    .specification{
        display: grid;
        grid-template-columns: 35% 65%;
        margin-bottom: 10px;
        font-size: 13px;
    }
}

.product-features{
    *{
        font-family: 'Roboto', Arial, sans-serif !important;
        line-height: 24px;
    }

    p, span, strong{
        font-size: 14px !important;
    }
}
#ratings-and-reviews{
    font-size: 30px;
    font-weight: 100;
    margin: 30px 0;
}

.product-videos{
    .video{
        background-position: center;
        background-size: cover;
        height: 150px;
        width: 150px;
        display: inline-block;
        overflow: hidden;
        position: relative;
        border: 1px solid #ddd;
        margin-right: 15px;
        border-radius: 2px;
        cursor: pointer;

        &:before{
            content: '';
            width: 40px;
            height: 40px;
            background-image: url('/img/icon_player.png');
            cursor: pointer;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -20px;
            margin-top: -20px;
            z-index: 2;
            opacity: .8;
        }

        &:hover{
            opacity: .9;
        }
    }
}
