footer {
  padding: 40px 0;

  .footer-top-row{
    border-top: 1px solid #efefef;
    padding: 40px 40px;

    .footer-top-wrap{
      display: grid;
      grid-template-columns: 260px 260px 260px;
      grid-gap: 40px;
      justify-items: center;
      align-content: center;
      justify-content: center;

      > div{
        position: relative;
        padding-left: 44px;

        > i{
          position: absolute;
          left: 0;
          font-size: 32px;
        }

        h4{
          font-size: 16px;
          line-height: 16px;
          font-weight: bold;
          margin-top: 0;
          margin-bottom: 0;
        }

        p{
          color: #000;
          font-size: 14px;
        }
      }
    }
  }

  .footer-content {
    display: flex;
    justify-content: space-between;

    .heart {
      color: $heart;
    }

    ul {
      display: flex;
      width: 30%;
      justify-content: space-between;
    }

    a {
      color: $white;
    }
  }
}