.breadcrumbs {
    font-size: 11px;
    font-weight: 500;

    .breadcrumb-separator {
        font-size: 8px;
        display: inline-block;
        color: #666;
        margin-left: 10px;
        margin-right: 10px;
    }

    .breadcrumbs-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a, span{
        color: #666;

        &:hover{
            text-decoration: underline
        }
    }
}
