.dropdown {
  position: relative;

  .dropdown-toggle {
  }
  .dropdown-menu {
    display: none;
    background: #fff;
    position: absolute;

    padding: 10px;
    border-top: solid 2px #ccc;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 1px 1px 3px #333;

    z-index: 10;

    ul {
      padding-left: 0;
      li {
        display: block;
      }
    }
  }
  &:hover {
    .dropdown-menu {
      display: block;
    }
  }
}