input[type="text"], input[type="email"] {
  background: #fff;
  border: 1px solid #ddd !important;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  height: 34px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none !important;
  padding: 6px 40px 6px 12px;
  text-overflow: ellipsis;
}

form {
  .half-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  button[type="submit"] {
    border-style: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 1.6;
  }
}

.form-group {

 margin-bottom: 20px;

  label {
    display: block;
  }

  input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }
}



.control-indicator {
    color: #fff
}

.control input:checked~.control-indicator {
    color: #2a9dcc;
    border: 1px solid #2a9dcc;
    background-color: #fff
}

.checkbox input~.control-indicator::after {
    content: "\ea22";
    font: normal normal normal 17px/1 "Nucleo Mini";
    background-image: none;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    position: initial;
    -webkit-transform: none
}

.control input:focus~.control-indicator {
    box-shadow: none
}

.control input:checked~.control-indicator {
    color: #2a9dcc;
    border: 1px solid #2a9dcc;
    background-color: #fff
}

.control input:active~.control-indicator {
    color: #2a9dcc;
    background-color: #fff
}

.control input[disabled]~.control-indicator,.control.disabled input~.control-indicator {
    color: silver;
    background-color: #f0f0f0;
    border: 1px solid silver;
    cursor: default
}

.checkbox.disabled label,.control.disabled,.radio.disabled label {
    color: silver;
    cursor: default
}

.checkbox .control-indicator {
    border-radius: 4px
}

.radio input~.control-indicator::after {
    color: #2a9dcc;
    background-color: #2a9dcc
}
