input {
  background: #fff;
  border: 1px solid #ddd !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  height: 44px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none !important;
  padding: 6px 40px 6px 12px;
  text-overflow: ellipsis;
}

form {
  .half-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  button[type="submit"] {
    border-style: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 1.6;
  }
}

.form-group {

 margin-bottom: 20px;

  label {
    display: block;
  }

  input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }
}
