.ebalo-icon{
  position: relative;
  top: 3px;
  display: inline-block;
  zoom: 1;
  width: 20px;
  height: 20px;
  background: url("/img/sprite-2x.png");
  background-size: 130px 156px;
  background-position: -29px 0;
}