.ebalo-icon{
  position: relative;
  top: 3px;
  display: inline-block;
  zoom: 1;
  width: 20px;
  height: 20px;
  background: url("/img/sprite-2x.png");
  background-size: 130px 156px;
  background-position: -29px 0;
}

.cart-icon{
    background: url("/img/cart_sprite.png") no-repeat;
    background-size: 133px 18px;
    width: 26px;
    height: 19px;
    display: inline-block;

    &.empty{
        background-position: -27px 0;

        &.heart{
            background-position: -55px 0;
        }
    }

    &.heart{
        background-position: -82px 0;
    }
}

.your-orders-icon, .placing-an-order-icon, .shipping-icon, .returns-icon, .pricing-and-discounts-icon, .product-information-icon, .warranties-and-repairs-icon, .my-favorites-icon, .manage-your-account-icon, .contact-customer-care-icon, .ebags-rewards-icon, .electronic-gift-certificates-icon, .privacy-and-security-icon, .suggestions-for-our-website-icon {
  background-image: url('/img/help-center-icon.png');
  display: inline-block;
  width: 39px;
  height: 39px;
  background-size: 195px 117px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}


.your-orders-icon {
  background-position: 0 0
}

.placing-an-order-icon {
  background-position: -39px 0
}

.shipping-icon {
  background-position: -78px 0
}

.returns-icon {
  background-position: -117px 0
}

.pricing-and-discounts-icon {
  background-position: -156px 0
}

.product-information-icon {
  background-position: 0 -39px
}

.warranties-and-repairs-icon {
  background-position: -39px -39px
}

.my-favorites-icon {
  background-position: -78px -39px
}

.manage-your-account-icon {
  background-position: -117px -39px
}

.contact-customer-care-icon {
  background-position: -156px -39px
}

.ebags-rewards-icon {
  background-position: 0 -78px
}

.electronic-gift-certificates-icon {
  background-position: -39px -78px
}

.privacy-and-security-icon {
  background-position: -78px -78px
}

.suggestions-for-our-website-icon {
  background-position: -117px -78px
}