$text-color: #212121;
$text-color-light: #919191;
$link-color: #2f6ba1;
$link-hover-color: #143d8d;
$link-active-color: #24a5d8;
$white: #fff;
$gray-background: #535353;
$light-gray-background: #F5F5F5;
$separator-color: #CDCDCD;
$heart: #FFBABA;
$primary: #3EBFA4;
$cart-count: #FFD94D;

$top-nav-bg: #222;
$bottom-nav-bg: #48aebd;

$header-link-color: #001c43;
$header-login-button: #0252a5;

$gutter: 30px;

$price_color: #900;

