.no-margin{
  margin: 0 !important;
}

.no-padding{
  padding: 0 !important;
}
.tox{
  .tox-editor-container{
    border-radius: 2px;
  }
  .tox-tbtn{
    height: 28px !important;
    width: 28px !important;

    svg{
      transform: scale(.8);
    }
  }

  .tox-toolbar, .tox-edit-area{
    border-color: #dbdbdb;
  }
}

.filepond--root{
  margin-bottom: 0 !important;
}

.is-element-details .is-component .control:last-child{
  margin-bottom: 0;
}

.overflow-visible{
  overflow: visible !important;
}

.product-organization-card{
  background-color: #f9fafb;

  .card-title{
    background-color: #f9fafb !important;
  }

  hr{
    margin: 15px -20px;
    background-color: #dfe3e8;
    height: 1px;
  }

  .categories-chooser{
    position: relative;
    min-height: 50px;
    margin-top: 10px;

    .vue-treeselect--open{
      .vue-treeselect__control, .vue-treeselect__menu{
        border: 1px solid #7957d5;
        box-shadow: 0 0 0 0.125em rgba(121, 87, 213, 0.25);
      }
    }

    .vue-treeselect__multi-value-item{
      font-size: 14px;
    }
  }
}
.image-chooser{
  .image{
    margin: 0;

    img{
      max-width: 100%;
      margin: 0;
      height: 100% !important;
      border-radius: 2px;
      border: 1px solid #ddd;
    }

    .checkbox{
      display: none;
      position: absolute;
      top: 8px;
      right: 0;
    }

    &.active{
      img{
        outline: 2px solid $primary;
      }

      .checkbox{
        display: inline-flex;
      }
    }
  }
}