.no-margin{
  margin: 0 !important;
}

.no-padding{
  padding: 0 !important;
}
.tox{
  .tox-editor-container{
    border-radius: 2px;
  }
  .tox-tbtn{
    height: 28px !important;
    width: 28px !important;

    svg{
      transform: scale(.8);
    }
  }

  .tox-toolbar, .tox-edit-area{
    border-color: #dbdbdb;
  }
}

.filepond--root{
  margin-bottom: 0 !important;
}

.is-element-details .is-component .control:last-child{
  margin-bottom: 0;
}

.image-chooser{
  .image{
    margin: 0;

    img{
      max-width: 100%;
      margin: 0;
      height: 100% !important;
      border-radius: 2px;
      border: 1px solid #ddd;
    }

    .checkbox{
      display: none;
      position: absolute;
      top: 8px;
      right: 0;
    }

    &.active{
      img{
        outline: 2px solid $primary;
      }

      .checkbox{
        display: inline-flex;
      }
    }
  }
}