.no-margin{
  margin: 0 !important;
}

.no-padding{
  padding: 0 !important;
}
.tox{
  .tox-editor-container{
    border-radius: 2px;
  }
  .tox-tbtn{
    height: 28px !important;
    width: 28px !important;

    svg{
      transform: scale(.8);
    }
  }

  .tox-toolbar, .tox-edit-area{
    border-color: #dbdbdb;
  }
}

.filepond--root{
  margin-bottom: 0 !important;
}

.is-element-details .is-component .control:last-child{
  margin-bottom: 0;
}